<!-- Footer-->
<footer class="py-5">
    <div class="footer container">
        <p class="m-0 text-center text-white">Copyright &copy; News Book TV 2022</p>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a href="https://www.youtube.com/@nbtvbharat"><i class="youtube fa-brands fa-youtube"></i></a><p class="text-white">Visit our YouTube Channel & don't forget to Subscribe Us!</p>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/nbtv_bharat"><i class="twitter fa-brands fa-twitter"></i></a><p class="text-white">Follow us on Twitter</p>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/nbtv_bharat/"><i class="instagram fa-brands fa-instagram"></i></a><p class="text-white">Follow us on Instagram</p>
            </li>
            <li class="nav-item">
                <a href="/"><i class="facebook fa-brands fa-facebook"></i></a><p class="text-white">Follow us on FaceBook</p>
            </li>
        </ul>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>

</html>