<%- include("partials/header"); -%>

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Incorrect Password</p>
        <p class="lead">
            You are not authorized to visit this page or you entered a wrong password.
        </p>
        <a href="/login" class="btn btn-primary">Try Again</a>
        <a href="/" class="btn btn-primary">Back to Home Page</a>
    </div>
</div>

<%- include("partials/footer"); -%>