<%- include('partials/header') %>

<h3>Login to your account</h3>
<a href="/admin-login" class="btn btn-primary">Admin Login</a>
<a href="/reporter-login" class="btn btn-primary">Reporter Login</a>

<%- include('partials/footer') %>