<%- include("partials/header"); -%>

    <h1 class="center">Create New Reporter</h1>
    <form action="/register" method="post">
        <div class="form-group">
            <label class="content">EnterPassport Size Reporter Image Link</label>
            <input type="text" name="pic" autocomplete="off" value="https://drive.google.com/uc?export=view&id=" size="50"
                class="img-link"><br>
            <label class="content">Full Name</label>
            <input type="text" name="fullName" class="form-control" autocomplete="off">
            <label class="content">ID No</label>
            <input type="text" name="id" value="NB/" class="form-control" autocomplete="off">
            <label class="content">Designation</label>
            <input type="text" name="designation" class="form-control" autocomplete="off">
            <label class="content">Enter Contact Number</label>
            <input type="text" name="contact" class="form-control" autocomplete="off">
            <label class="content">Reporter Email ID</label>
            <input type="text" name="email" class="form-control" autocomplete="off">
            <label class="content">Reporter Address</label>
            <input type="text" name="address" class="form-control" autocomplete="off">
            <label class="content">Aadhaar No</label>
            <input type="text" name="aadhaar" class="form-control" autocomplete="off">
            <label class="content">PAN No</label>
            <input type="text" name="pan" class="form-control" autocomplete="off">
            <label class="content">Username</label>
            <input type="text" name="username" class="form-control" autocomplete="off">
            <label class="content">Password</label>
            <input type="text" name="password" class="form-control" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary content">Create Reporter</button>
    </form>
<%- include("partials/footer"); -%>