<%- include("partials/header"); -%>

    <h1>Compose New News</h1>

    <p>
        <a class="btn btn-primary" href="https://forms.gle/n8L9FjnxjrLhvcyU7">Compose new News</a>
    </p>

    <%- include("partials/footer"); -%>